<?xml version="1.0" encoding="UTF-8"?>

<!--+
  | Application context containing LDAP AuthenticationProvider
  | implementation.
  +-->

<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:pen="http://www.pentaho.com/schema/pentaho-system"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                  http://www.pentaho.com/schema/pentaho-system http://www.pentaho.com/schema/pentaho-system.xsd
                  http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util-4.3.xsd" default-lazy-init="true">

  <bean id="foundryAuthenticationProvider" class="org.pentaho.platform.plugin.services.security.userrole.foundry.FoundryAuthenticationProvider">
    <constructor-arg ref="ehCacheUserCache" />
    <property name="useHttps" value="${foundry.useHttps}" />
    <property name="hostname" value="${foundry.hostname}" />
    <property name="port" value="${foundry.port}" />
    <property name="realm" value="${foundry.realm}" />
    <property name="grantType" value="${foundry.grantType}" />
    <pen:publish as-type="org.springframework.security.authentication.AuthenticationProvider">
      <pen:attributes>
        <pen:attr key="providerName" value="foundry"/>
      </pen:attributes>
    </pen:publish>
  </bean>

  <bean id="foundryUserDetailsService" class="org.pentaho.platform.plugin.services.security.userrole.foundry.DefaultFoundryUserDetailsService">
    <pen:publish as-type="INTERFACES">
      <pen:attributes>
        <pen:attr key="providerName" value="foundry"/>
      </pen:attributes>
    </pen:publish>
  </bean>

  <bean class="org.pentaho.platform.config.SolutionPropertiesFileConfiguration">
    <constructor-arg value="foundry"/>
    <constructor-arg value="applicationContext-security-foundry.properties"/>
    <pen:publish as-type="INTERFACES"/>
  </bean>

</beans>

